<div id="loading" style="display:none">loading...</div>
<div id="error" style="color:red;"></div>

<%= form_for(@species, :url => (@species.new_record? ? admin_species_index_path : admin_species_path(@species.id))) do |f| %>
  <% if @species.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@species.errors.count, "error") %> prohibited this species from being saved:</h2>

      <ul>
      <% @species.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :uid, :value => @species.uid %>

  <div class="field">
    <%= f.label :name, "Scientific name" %><br />
    <%= f.text_field :name, :size => 50, :value => @species.full_name %>
  </div>
  <div id="all_data" <%=raw 'style="display:none"' if (@species.new_record? && @species.errors.empty?) %>>
    <div class="field">
      <%= f.label :highlighted %>
      <%= f.check_box :highlighted  %>
      <p><em><small>If a species is highlighted it can appear in the home images carrousel</small></em></p>
    </div>
    <div class="field">
      <%= f.label :featured %>
      <%= f.check_box :featured  %>
      <p><em><small>If a species is featured it can appear in the home of species</small></em></p>
    </div>
    <div class="field">
      <%= f.label :common_name %><br />
      <%= f.text_field :common_name, :size => 50 %>
    </div>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description, :rows => 8, :cols => 50 %>
    </div>
    <div class="field">
      <%= f.label :identification %><br />
      <%= f.text_area :identification, :rows => 8, :cols => 50 %>
    </div>
    <div class="field">
      <%= f.label :distribution %><br />
      <%= f.text_area :distribution, :rows => 8, :cols => 50 %>
    </div>
    <div class="field">
      <%= f.label :ecology %><br />
      <%= f.text_area :ecology, :rows => 8, :cols => 50 %>
    </div>
    <div class="field">
      <%= f.label :size %><br />
      <%= f.text_area :size, :rows => 8, :cols => 50 %>
    </div>
    <div class="field">
      <%= f.label :depth %><br />
      <%= f.text_area :depth, :rows => 8, :cols => 50 %>
    </div>
    <div class="field">
      <%= f.label :reference %><br />
      <%= f.text_area :reference, :rows => 8, :cols => 50 %>
    </div>
    <div class="field">
      <%= f.label :habitat %><br />
      <%= f.text_area :habitat, :rows => 8, :cols => 50 %>
    </div>
    <div class="field">
      <%= f.label :distinguishing_characters %><br />
      <%= f.text_area :distinguishing_characters, :rows => 8, :cols => 50 %>
    </div>
    <div class="field">
      <%= f.label :source_name %><br />
      <%= f.text_field :source_name, :size => 50 %>
    </div>
    <div class="field">
      <%= f.label :source_link %><br />
      <%= f.text_field :source_link, :size => 50 %>
    </div>
    <div class="field">
      <%= f.label :behaviour %><br />
      <%= f.text_area :behaviour, :rows => 8, :cols => 50 %>
    </div>
    <div class="field">
      <%= f.label :feeding_behaviour %><br />
      <%= f.text_area :feeding_behaviour, :rows => 8, :cols => 50 %>
    </div>
    <div class="field">
      <%= f.label :reproductive %><br />
      <%= f.text_area :reproductive, :rows => 8, :cols => 50 %>
    </div>

    <h2>Taxonomy</h2>

    <% if @species.new_record? %>
      <div id="loading-taxonomy">loading....</div>
    <% end -%>
    <div id="taxonomy" <%= raw 'style="display:none"' if @species.new_record? %>>
      <div class="field">
        <!-- <%= f.label :kingdom %><br /> -->
        <%= f.hidden_field :kingdom, :size => 50 %>
      </div>
      <div class="field">
        <!-- <%= f.label :phylum %><br /> -->
        <%= f.hidden_field :phylum, :size => 50 %>
      </div>
      <div class="field">
        <!-- <%= f.label :t_class, 'Class' %><br /> -->
        <%= f.hidden_field :t_class, :size => 50 %>
      </div>
      <div class="field">
        <!-- <%= f.label :t_order, 'Order' %><br /> -->
        <%= f.hidden_field :t_order, :size => 50 %>
      </div>
      <div class="field">
        <!-- <%= f.label :family %><br /> -->
        <%= f.hidden_field :family, :size => 50 %>
      </div>
      <div class="field">
        <!-- <%= f.label :genus %><br /> -->
        <%= f.hidden_field :genus, :size => 50 %>
      </div>
      <div class="field">
        <!-- <%= f.label :species %><br /> -->
        <%= f.hidden_field :species, :size => 50 %>
      </div>
      <div class="field">
        <!-- <%= f.label :name_author %><br /> -->
        <%= f.hidden_field :name_author, :size => 50 %>
      </div>      
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  </div><!-- #all_data -->
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  $("#species_name").autocomplete({
    minLength: 3,
    resultsClass: "ac_results",
    source: function( request, response ) {
      $.ajax({
        url: "/species/get_uid/"+$('#species_name').val(),
        dataType: "jsonp",
        beforeSend: function() {
          $('#loading').show();
          $('#error').hide();
        },
        success: function( data ) {
          $('#loading').hide();
          if(data != null) {
            response($.map(data, function(item) {
              return {
                label: item.name,
                value: item.name,
                species_id: item.id
              }
            }));
          }
        },
        error: function(req, textStatus, e) {
          $('#loading').hide();
          $('#error').html(req.responseText).show();
        }
      });
    },
    select: function( event, ui ) {
      $('#all_data').show();
      $('#species_uid').val(ui.item.species_id);
      $.ajax({
        url: "/species/get_taxon/"+$('#species_uid').val(),
        dataType: "jsonp",
        success: function( data ) {
          if(data != null) {
            $('#species_kingdom').val(data['kingdom']);
            $('#species_phylum').val(data['phylum']);
            $('#species_t_class').val(data['class']);
            $('#species_t_order').val(data['order']);
            $('#species_family').val(data['family']);
            $('#species_genus').val(data['genus']);
            $('#species_species').val(data['species']);
            $('#species_name_author').val(data['name_author']);
            $('#loading-taxonomy').hide();
            $('#taxonomy').show();
          }
        }
      });
    },
    refresh: function(){
       this.element.children("li.ui-menu-item:odd a").addClass("ui-menu-item-alternate");
    }
  });
});
</script>