<%= link_to 'Show', admin_species_path(@species) %> |
<%= link_to 'Back to list', admin_species_path(:family => @species.family) %>

<h1>Editing species <%= @species.name %></h1>

<%= render 'form' %>

<%= link_to 'Show', admin_species_path(@species) %> |
<%= link_to 'Back to list', admin_species_path(:family => @species.family) %>
