<%= link_to 'Show', admin_species_path(@species) %> |
<%= link_to 'Back to list', admin_species_index_path(:family => @species.family) %>

<h1>Editing species <%= @species.name %></h1>

<div class="wide_container"> 

  <div class="left"> 

    <%= render 'form' %>

  </div>
  
  <div class="right">
    
    <%= render 'pictures' %>
    
  </div>
  
</div>


<%= link_to 'Show', admin_species_path(@species) %> |
<%= link_to 'Back to list', admin_species_index_path(:family => @species.family) %>
