<% unless params[:q] %>
<h1>Listing species</h1>
<% else %>
<h1>Listing species related to '<%= params[:q] %>'</h1>
<p>Found <%= pluralize(@species.size, 'result', 'results') %></p>
<% end -%>

<ul class="families">
  <% if params[:q] %>
  <li><%= link_to('Back to index', admin_species_index_path) %></li>
  <% else %>
  <li><%= link_to_unless(params[:complete] && params[:complete] == 'true', "Complete (#{Species.complete.count})", admin_species_index_path(:complete => true)) %></li>
  <li><%= link_to_unless(params[:complete] && params[:complete] != 'true', "Pending (#{Species.count - Species.complete.count})", admin_species_index_path(:complete => false)) %></li>
  <% end -%>
</ul>

<table>
  <tr>
    <th>UID</th>
    <th>Species</th>
    <th class="long">Description</th>
    <th>Pictures</th>
    <th class="long"></th>
  </tr>

<% @species.each do |species| %>
  <tr class="<%= cycle('', 'even') %>">
    <td><%= species.uid || "n/a" %></td>
    <td><%= link_to "#{species.genus} #{species.name}", edit_admin_species_path(species.id) %></td>
    <td class="long"><%= truncate(species.description, :length => 100) %></td>
    <td><%= species.pictures.count %></td>
    <td>
    <%= link_to 'Show', species_path(species) %> · 
    <%= link_to 'Edit', edit_admin_species_path(species.id) %> · 
    <%= link_to 'Destroy', admin_species_path(species), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate(@species) %>

<br />

<%= link_to '+ New Species', new_admin_species_path %>