<%= link_to 'Edit', edit_admin_species_path(@species) %> |
<%= link_to 'Back to list', admin_species_index_path(:family => @species.family) %>

<h1><%= @species.name %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Uid:</b>
  <%= @species.uid %>
</p>

<p>
  <b>Permalink:</b>
  <%= @species.permalink %>
</p>

<p>
  <b>Genus:</b>
  <%= @species.genus %>
</p>

<p>
  <b>Family:</b>
  <%= @species.family %>
</p>

<p>
  <b>Common name:</b>
  <%= @species.common_name %>
</p>

<p>
  <b>Description:</b>
  <%= @species.description %>
</p>

<p>
  <b>Identification:</b>
  <%= @species.identification %>
</p>

<p>
  <b>Distribution:</b>
  <%= @species.distribution %>
</p>

<p>
  <b>Ecology:</b>
  <%= @species.ecology %>
</p>

<p>
  <b>Size:</b>
  <%= @species.size %>
</p>

<p>
  <b>Depth:</b>
  <%= @species.depth %>
</p>

<p>
  <b>Reference:</b>
  <%= @species.reference %>
</p>

<br />

<%= link_to 'Edit', edit_admin_species_path(@species) %> |
<%= link_to 'Back to list', admin_species_index_path(:family => @species.family) %>
