<div class="outer_layout"> 
  <div class="search_container">
    <%= image_tag ('common/arrow_menu.png', :class=> 'arrow') %>
    <h2>Search for species, landscapes, guides...</h2> 
    <form action="<%= search_path %>" method="get">
      <input type="text" value="<%= params[:q] %>" name="q" />
      <input type="submit" value="Search" />
      <p>or view the <%= link_to('species browser', species_index_path) %></p>
    </form>
  </div>
</div>

<div class="main results">
  
  <div class="left"> 
    <div class="results"> 
      <% if params[:q].blank? %>
      <% else %>
        <h1>
        <% if params[:type] %>
        <%= pluralize(@results.total_entries, params[:type]) %> found for "<%= params[:q] %>"        
        <% else %>
        <%= pluralize(@results.total_entries, 'result', 'results') %> found for "<%= params[:q] %>"
        <% end -%>
        </h1>
        <ul>
          <% @results.each do |result| %>
            <% if result.is_a?(Species) %>
            <li class="specie">
              <%= stars(result) %>
              <div class="image">
                <img src="<%= result.picture ? result.picture.image.url(:medium) : result.default_picture(:medium) %>" alt="<%= result.full_name %>" />
              </div>
              <div class="information">
                <h2><%= link_to(result.full_name, species_path(result)) %></h2>
                <% unless result.common_name.blank? %>
                <p class="subtitle">Common name - <%= result.common_name %></p>
                <% end -%>
                <p class="description"><%= truncate(result.description, :length => 50, :omission => raw("...#{link_to('View more', species_path(result))}")) %></p>
              </div>
            </li>
            <% elsif result.is_a?(Guide) %>
            <li class="guide">
              <%= stars(result) %>
              <div class="image">
                <% if result.picture? %>
                <img src="<%= result.picture.image.url(:medium) %>" alt="<%= result.name %>" title="<%= result.name %>" />                
                <% else %>
                <img src="<%= result.default_picture(:medium) %>" alt="<%= result.name %>" title="<%= result.name %>" />
                <% end -%>
              </div>
              <div class="information">
                <h2><%= link_to(result.name, guide_path(result)) %></h2>
                <p class="subtitle">by <%= result.author %>, <%= result.updated_at.strftime("%dth %B %Y") %></p>
                <p class="description"><%= truncate(result.description, :length => 50, :omission => raw("...#{link_to('View more', guide_path(result))}")) %></p>
              </div>
            </li>
            <% elsif result.is_a?(Landscape) %>
            <li class="landscape">
              <%= stars(result) %>
              <div class="image">
                <% if result.picture? %>
                <img src="<%= result.picture.image.url(:medium) %>" alt="<%= result.name %>" title="<%= result.name %>" />                
                <% else %>
                <img src="<%= result.default_picture(:medium) %>" alt="<%= result.name %>" title="<%= result.name %>" />
                <% end -%>
              </div>
              <div class="information">
                <h2><%= link_to(result.name, landscape_path(result)) %></h2>
                <p class="description"><%= truncate(result.description, :length => 50, :omission => raw("...#{link_to('View more', landscape_path(result))}")) %></p>
              </div>
            </li>
            <% end -%>
          <% end -%>
        </ul>
      
        <% if @results.total_pages > 1 %>
        <div class="pagination">
          <% unless @results.current_page == @results.total_pages %>
          <a href="<%= search_path(params.merge(:page => @results.current_page + 1)) %>" class="right"></a> 
          <% end -%>
          <% unless @results.current_page == 1 %>
          <a href="<%= search_path(params.merge(:page => @results.current_page - 1)) %>" class="left"></a> 
          <% end -%>
          <p>viewing from <strong><%= @results.current_page*@results.per_page - @results.per_page + 1 %> to <%= (@results.current_page*@results.per_page < @results.total_entries ? @results.current_page*@results.per_page : @results.total_entries) %> of <%= @results.total_entries %></strong></p>
        </div><!-- .pagination -->
        <% end -%>
      <% end -%>
    </div> 
  </div> 

  <div class="right">
    <div class="results"> 
      <% unless params[:q].blank? %>
      <h4>FILTER YOUR RESULTS</h4>
      <ul class="<%= @results.total_entries %>">
        <li class="<%= @total_species.size %>"><a href="<%= search_path(:q => params[:q], :type => 'species') %>"><span><%= @total_species.size %> Species</span></a></li>
        <li class="<%= @total_landscapes.size %>"><a href="<%= search_path(:q => params[:q], :type => 'landscapes') %>"><span><%= pluralize(@total_landscapes.size, 'Landscape', 'Landscapes') %></span></a></li>
        <li class="<%= @total_guides.size %>"><a href="<%= search_path(:q => params[:q], :type => 'guides') %>"><span><%= pluralize(@total_guides.size, 'Guide', 'Guides') %></span></a></li>
        <li><a href="<%= search_path(:q => params[:q]) %>" class="all"><span>All results</span></a></li>
      </ul>
      <% end -%>
    </div>
  </div>
</div>

<div id="your_guide">
  <%= render 'guides/your_guide' %>
</div>