<%= javascript_include_tag "landscapes/landscapes.js" %>
<%= javascript_include_tag "jquery.scrollTo.js" %>
<%= javascript_include_tag "jquery.mousewheel.js" %>
<%= javascript_include_tag "jScrollHorizontalPane.js" %>
<%= javascript_include_tag "jScrollPane.js" %>
<%= javascript_include_tag "species/taxonomicbrowser.js" %>

<%= stylesheet_link_tag 'jScrollPane' %>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
	  $('#column1').jScrollPane({showArrows:false, scrollbarWidth: 15, topCapHeight:7, bottomCapHeight:7}); 
      $('#taxon_browser').taxonomicbrowser();
  });
</script>

<div class="outer_layout"> 
  <div class="species_explore"> 
    <%= image_tag ('common/arrow_menu.png', :class=> 'arrow') %>
    <h2>Browse species</h2> 
    <p class="subtitle">Explore <%= Species.complete.count %> species with the taxonomic browser. You can also <%= link_to('search for species', search_path) %> by name</p> 
	
	<div id="taxon_browser" class="taxonomic_browser">
		<div class="breadcrumbs">
			<ul></ul>
		</div>
		<div class="taxon_content">
			<div class="in">
				<div class="holder scrollTaxon">
					
					<ul class="menu jScrollPaneContainer jScrollPaneScrollable" id="column1">
						
				  	</ul>
				</div>
 
			</div>
		</div>
	</div>

  </div>
</div>

<div class="main species">
  <div class="left"> 
    <div class="landscapes"> 
      <h3>Most popular species</h3> 
      <p class="subtitle">You can also <%= link_to('search species', search_path) %> by name</p> 
      <div class="species_list"> 
        <ul class="published_afg">
          <% @species.each do |species| %>
          <li class="<%= cycle('', '', 'last', '', '', 'last') %>"> 
            <%= render species %>
          </li> 
          <% end %>
        </ul> 
      </div> 
    </div> 
  </div><!-- .left -->

  <div class="right"> 
    <% if @featured_species %>
    <div class="feature"> 
      <p class="subtitle">Featured species</p> 
      <h3><%= link_to(@featured_species.name, species_path(@featured_species)) %></h3>
      <%= stars(@featured_species) %>
      <div class="image">
        <img src="<%= @featured_species.picture ? @featured_species.picture.image.url(:large) : @featured_species.default_picture(:medium) %>" alt="<%= @featured_species.name %>" title="<%= @featured_species.name %>" />
        <span class="shadow"></span>
      </div>
      <p class="info">
        <%= truncate(@featured_species.description, :length => 200, :omission => "...#{link_to('Learn more', species_path(@featured_species))}") %>
      </p>
    </div> <!-- .feature -->
    <% end -%>
  </div><!-- .right -->
</div>

<div id="your_guide">
	<%= render 'guides/your_guide' %>
</div>