<%= content_for :post_js do %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
		var settings = {
		};
		
		var pane = $('.scroll_pane');
		pane.jScrollPane(settings);
	
    	$('#taxon_browser').taxonomicbrowser();
  });
</script>
<%end%>
<div class="outer_layout">
	<div class="species_explore">
	    <%= image_tag('common/arrow_menu.png', :class=> 'arrow') %>
	    <h2>Taxonomy browser</h2>
	    <p class="subtitle">Add <%= @species_to_add %> species to your Field Guide using the browser</p>
		<div id="taxon_browser" class="taxonomic_browser">			
		    <div class="breadcrumbs">
		      <ul>>
		      </ul>
		    </div>

		    <div class="taxon_content scroll_pane">
		      <div class="in">
		        <ul id="column1" class="column1 scroll_pane">
		        </ul>
		      </div>
		    </div>	
			<!-- end taxon_content -->
		</div>	<!-- end #taxon_browser -->
	</div> <!-- end species_explore -->
</div> <!-- end outer_layout -->

<div class="main species">
  <div class="left">
    <div class="landscapes">
      <h3>Most popular species</h3>
      <p class="subtitle">You can also <%= link_to('search species', search_path) %> by name</p>
      <div class="species_list">
        <ul class="published_afg">
          <% @species.each do |species| %>
          <li class="<%= cycle('', '', 'last', '', '', 'last') %>">
            <%= render species %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div><!-- .left -->

  <div class="right">
    <% if @featured_species %>
    <div class="feature">
      <p class="subtitle">Featured species</p>
      <h3><%= link_to(@featured_species.full_name, species_path(@featured_species)) %></h3>
      <%= stars(@featured_species) %>
      <% if @featured_species.picture%>
      <a class="lightbox" title="<%= @featured_species.full_name %>" href="<%= @featured_species.picture.image.url(:gallery) %>">
      <% end -%>
      <div class="image">
        <img src="<%= @featured_species.picture ? @featured_species.picture.image.url(:large) : @featured_species.default_picture(:medium) %>" alt="<%= @featured_species.full_name %>" title="<%= @featured_species.full_name %>" />
        <span class="shadow"></span>
      </div>
    </a>
      <p class="info">
        <%= raw(truncate(@featured_species.description, :length => 200, :omission => "...#{link_to('Learn more', species_path(@featured_species))}")) %>
      </p>
    </div> <!-- .feature -->
    <% end -%>
  </div><!-- .right -->
</div>

<div id="your_guide">
  <%= render 'guides/your_guide' %>
</div>