<%= javascript_include_tag "landscapes/landscapes_map.js"  %>
<%= javascript_include_tag "jquery.scrollTo.js" %>
<%= javascript_include_tag "jquery.mousewheel.js" %>
<%= javascript_include_tag "jScrollHorizontalPane.js" %>
<%= javascript_include_tag "jScrollPane.js" %>
<%= javascript_include_tag "species/taxonomicbrowser.js" %>

<%= stylesheet_link_tag 'scrollbars' %>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
		// var $j = jQuery.noConflict();
		// 				// $j(function(){
		// 				//     jQuery('.scroll-pane').jScrollPane({scrollbarWidth:10});
		// 				// });
		// 			
		// 				$j(function(){
		// 				 	jQuery('.scroll-horizontal-pane').jScrollHorizontalPane({scrollbarHeight:15});
		// 				});
		
		$('.scroll-vertical-pane').jScrollPane({showArrows:false, scrollbarWidth: 15, topCapHeight:7, bottomCapHeight:7});
		$('.scroll-horizontal-pane').jScrollHorizontalPane({scrollbarHeight:15});
		$('#taxon_browser').taxonomicbrowser();
	});
</script>

<div class="outer_layout"> 
  <div class="species_explore"> 
    <%= image_tag('common/arrow_menu.png', :class=> 'arrow') %>
    <h2>Browse species</h2> 
    <p class="subtitle">Explore <%= Species.complete.count %> species with the taxonomic browser. You can also <%= link_to('search for species', search_path) %> by name</p> 
	
	<div id="taxon_browser" class="taxonomic_browser">
		<div class="breadcrumbs">
			<ul></ul>
		</div>
		<div class="taxon_content scroll-horizontal-pane" >
			<div class="in">
							
				<ul id="column1" class="jScrollVPaneContainer">
				</ul>	
					<!-- <li class="active">
						<div class="text">
							<h3><a class="specie" href="#">Animalia</a></h3>
							<p><strong>123</strong> species, <a href="#" class="specie">add</a></p>
						</div>
						<a class="bttn_add" href="#"></a>
						<div class="line"></div>
					</li>
					<li>
						<div class="text">
							<h3><a class="specie" href="#">Animalia</a></h3>
							<p><strong>123</strong> species, <a href="#" class="specie">add</a></p>
						</div>
						<a class="bttn_add" href="#"></a>
						<div class="line"></div>
					</li>
					<li class="active">
						
						
						
						<div class="text">
							<h3><a class="specie" href="#">Animalia</a></h3>
							<p><strong>123</strong> species, <a href="#" class="specie">add</a></p>
						</div>
						<a class="bttn_add" href="#"></a>
						<div class="line"></div>
					</li>
					<li>
						<div class="text">
							<h3><a class="specie" href="#">Animalia</a></h3>
							<p><strong>123</strong> species, <a href="#" class="specie">add</a></p>
						</div>
						<a class="bttn_add" href="#"></a>
						<div class="line"></div>
					</li>
																						
				</ul>
				<ul id="column2">
					<li class="active">
						<div class="text">
							<h3><a class="specie" href="#">Animalia</a></h3>
							<p><strong>123</strong> species, <a href="#" class="specie">add</a></p>
						</div>
						<a class="bttn_add" href="#"></a>
						<div class="line"></div>
					</li>
					<li>
						<div class="text">
							<h3><a class="specie" href="#">Animalia</a></h3>
							<p><strong>123</strong> species, <a href="#" class="specie">add</a></p>
						</div>
						<a class="bttn_add" href="#"></a>
						<div class="line"></div>
					</li>
					<li class="active">
						<div class="text">
							<h3><a class="specie" href="#">Animalia</a></h3>
							<p><strong>123</strong> species, <a href="#" class="specie">add</a></p>
						</div>
						<a class="bttn_add" href="#"></a>
						<div class="line"></div>
					</li>
					<li>
						<div class="text">
							<h3><a class="specie" href="#">Animalia</a></h3>
							<p><strong>123</strong> species, <a href="#" class="specie">add</a></p>
						</div>
						<a class="bttn_add" href="#"></a>
						<div class="line"></div>
					</li>					
				</ul>			
				<ul id="column3">
								<li class="active">
									<div class="text">
										<h3><a class="specie" href="#">Animalia</a></h3>
										<p><strong>123</strong> species, <a href="#" class="specie">add</a></p>
									</div>
									<a class="bttn_add" href="#"></a>
									<div class="line"></div>
								</li>
								<li><div class="text">
									<h3><a class="specie" href="#">Animalia</a></h3>
									<p><strong>123</strong> species, <a href="#" class="specie">add</a></p>
								</div>
								<a class="bttn_add" href="#"></a>
								<div class="line"></div>
								</li>
								<li>
									<div class="text">
										<h3><a class="specie" href="#">Animalia</a></h3>
										<p><strong>123</strong> species, <a href="#" class="specie">add</a></p>
									</div>
									<a class="bttn_add" href="#"></a>
									<div class="line"></div>						
								</li>
								<li><div class="text">
									<h3><a class="specie" href="#">Animalia</a></h3>
									<p><strong>123</strong> species, <a href="#" class="specie">add</a></p>
								</div>
								<a class="bttn_add" href="#"></a>
									<div class="line"></div>					
								</li>					
							</ul>			
							<ul id="column3">
								<li></li>
							</ul>			 -->
			</div>
		</div>
	</div>

  </div>
</div>

<div class="main species">
  <div class="left"> 
    <div class="landscapes"> 
      <h3>Most popular species</h3> 
      <p class="subtitle">You can also <%= link_to('search species', search_path) %> by name</p> 
      <div class="species_list"> 
        <ul class="published_afg">
          <% @species.each do |species| %>
          <li class="<%= cycle('', '', 'last', '', '', 'last') %>"> 
            <%= render species %>
          </li> 
          <% end %>
        </ul> 
      </div> 
    </div> 
  </div><!-- .left -->

  <div class="right"> 
    <% if @featured_species %>
    <div class="feature"> 
      <p class="subtitle">Featured species</p> 
      <h3><%= link_to(@featured_species.full_name, species_path(@featured_species)) %></h3>
      <%= stars(@featured_species) %>
      <div class="image">
        <img src="<%= @featured_species.picture ? @featured_species.picture.image.url(:large) : @featured_species.default_picture(:medium) %>" alt="<%= @featured_species.full_name %>" title="<%= @featured_species.full_name %>" />
        <span class="shadow"></span>
      </div>
      <p class="info">
        <%= truncate(@featured_species.description, :length => 200, :omission => "...#{link_to('Learn more', species_path(@featured_species))}") %>
      </p>
    </div> <!-- .feature -->
    <% end -%>
  </div><!-- .right -->
</div>

<div id="your_guide">
	<%= render 'guides/your_guide' %>
</div>