<div class="outer_layout"> 
  <div class="specie_header" id="family-<%= @species.id %>"> 
    <%= image_tag('common/arrow_menu.png', :class=> 'arrow') %>
    <ul class="breadcrumb"> 
      <li class="first"><%= link_to('All', species_index_path) %></li>
      <% @breadcrumb.each_with_index do |b, i|%>
      <li <%= css_class_if(@breadcrumb.size > 1 && i == @breadcrumb.size-1,'last') %>>
      <% t_params = {}; 0.upto(i){ |j| t_params[@breadcrumb[j]] = params[@breadcrumb[j]] } %>
      <%= link_to(params[b], species_taxonomy_path(t_params)) %>
      </li>
      <% end -%>
    </ul>
    <div class="left"> 
      <h1><%= @taxonomy.name %><small>(<%= @taxonomy.hierarchy %>)</small></h1> 
      <!-- <h3>Description</h3> 
      <%= simple_format(@taxonomy.description) %>
      <h3>Distinguishing Characters</h3> 
      <%= simple_format(@taxonomy.distinguishing_characters) %> -->
      
			<div class="added_cont">			
      	<% unless @current_guide.include_taxonomy?(@taxonomy) %>
					<%= link_to create_entry_path(:type => @taxonomy.hierarchy.humanize, :id => @taxonomy.name), :method => :post, :class => 'special_add' do %>
					  <span>Add <%=@species.total_entries%> species to your guide</span>
					<% end %>
	      <% else %>
	      <span class="included"></span>
	      <% end -%>
	      <% if @taxonomy.downloads_count > 0 %>
	      	<p class="times_added <%= (@current_guide.include_taxonomy?(@taxonomy))? 'included':'taxonomy' %>"><%= pluralize(@taxonomy.downloads_count, 'time', 'times') %> added</p> 
	      <% end -%>
			</div>
    </div> 
    <div class="right"> 
      <div class="share_this"> 
        <p class="share">share this on</p><a class="share_twitter" href="<%= share_in_twitter(@taxonomy) %>"></a><a class="share_facebook" href="<%= share_in_facebook(@taxonomy) %>"></a> 
      </div>
    </div>
  </div>
</div>

<div class="main family">
  <h3>Descendant species</h3> 
  <p class="subtitle"><%= @species.total_entries %> total species belonging to the <%= @taxonomy.name %> <%= @taxonomy.hierarchy %></p>
  <ul>
    <% @species.each do |species| %>
    <li class="<%= cycle('', '', 'last_item') %>">
	  <a href="<%= species_path(species) %>">
      <div class="image">
        <img src="<%= species.picture ? species.picture.image.url(:small) : species.default_picture(:small) %>" alt="<%= species.full_name %>" />
      </div>
	  </a>
      <div class="info">
        <h4><a href="<%= species_path(species) %>"><%= species.full_name %></a></h4>
        <% if species.common_name? %>
        <p class="common_name"><%= species.common_name %></p> 
        <% end -%>
      </div>
    </li>
    <% end -%>
  </ul>
  <% if @species.total_pages > 1 %>
  <div class="pagination">
    <% unless @species.current_page == @species.total_pages %>
    <a href="<%= species_taxonomy_path(params.merge(:page => @species.current_page + 1)) %>" class="right"></a> 
    <% end -%>
    <% unless @species.current_page == 1 %>
    <a href="<%= species_taxonomy_path(params.merge(:page => @species.current_page - 1)) %>" class="left"></a> 
    <% end -%>
    <p>viewing from <strong><%= @species.current_page*@species.per_page - @species.per_page + 1 %> to <%= (@species.current_page*@species.per_page < @species.total_entries ? @species.current_page*@species.per_page : @species.total_entries) %> of <%= @species.total_entries %></strong></p>
  </div>
  <% end -%>
</div>

<div id="your_guide">
  <%= render 'guides/your_guide' %>
</div>