<%= javascript_include_tag "http://openlayers.org/dev/OpenLayers.js" %>
<%= javascript_include_tag 'maps/LandscapeMarker', "landscapes/landscapes_map.js"  %>

<div class="outer_layout"> 
  <div class="landscapes_map"> 
    <%= image_tag('common/arrow_menu.png', :class=> 'arrow') %>
    <h2>We have <%= Landscape.count %> Antarctic landscapes for your Guide</h2> 
    <p class="subtitle">Do you have any recommendation? <%= link_to('Send it to us', '#') %></p> 
    <div class="map"> 
      <a href="javascript: void zoomIn()" class="zoomIn"></a>
      <a href="javascript: void zoomOut()" class="zoomOut"></a>
			<a href="javascript: void toggleFullScreen()" class="full_screen"></a>
      <div id="map"></div>
    </div> 
  </div>
</div>

<div class="main landscapes">
  <div class="left"> 
    <div class="landscapes"> 
      <h3>Most popular landscapes</h3> 
      <p class="subtitle">Also you can <%= link_to('search landscapes', search_path) %> by name</p> 
      <div class="species_list"> 
        <ul class="published_afg">
          <% @landscapes.each do |landscape| %>
          <li class="<%= cycle('','','last') %>"> 
            <%= render landscape %>
          </li>
          <% end -%>
        </ul> 
      </div> 
    </div> 
  </div> 

  <div class="right"> 
    <div class="feature"> 
      <p class="subtitle">Featured landscape</p> 
      <h3><a href="<%= landscape_path(@featured_landscape) %>"><%= @featured_landscape.name %></a></h3>
      <%= stars(@featured_landscape) %>
      <div class="image">
        <img src="<%= @featured_landscape.picture ? @featured_landscape.picture.image.url(:large) : @featured_landscape.default_picture(:large) %>" alt="<%= @featured_landscape.name %>" title="<%= @featured_landscape.name %>" />
        <span class="shadow"></span>
      </div>
      <p class="info"><%= truncate(@featured_landscape.description, :length => 200, :omission => "...#{link_to('Learn more', landscape_path(@featured_landscape))}") %></p>
    </div> 
  </div>
</div>

<div id="your_guide">
  <%= render 'guides/your_guide' %>
</div>