<% content_for :pre_js do %>
<%= javascript_include_tag 'OpenLayers' %>
<% end -%>

<div class="outer_layout"> 
  <div class="landscape_header" id="landscape-<%= @landscape.id %>"> 
    <%= image_tag('common/arrow_menu.png', :class=> 'arrow') %>
    <ul class="breadcrumb"> 
      <li><a href="<%= landscapes_path %>">Landscapes</a></li>
    </ul> 
    <div class="left"> 
      <h1><%= @landscape.name %></h1> 
      <% if !@landscape.source_name.blank? || !@landscape.source_link.blank? %>
      <p class="subtitle">
        obtained from <% if @landscape.source_name.blank? %>
          <%= link_to(@landscape.source_link, @landscape.source_link) %>
        <% elsif @landscape.source_link.blank? %>
        <%= @landscape.source_name %>
        <% else %>
        <%= link_to(@landscape.source_name, @landscape.source_link) %>
        <% end -%>
      </p>
      <% end -%>
      <h3>Description</h3> 
      <%= simple_format(@landscape.description) %>
      <% if !@current_guide.include_landscape?(@landscape) %>
        <%= link_to('Add to your guide', create_entry_path(:type => 'Landscape', :id => @landscape.id), :method => :post, :class => 'add_guide') %>
      <% else %>
        <span class="included"></span>
      <% end %>
      <p class="times_added <%= @current_guide.include_landscape?(@landscape) ? 'included' : ''%>"><%= pluralize(@landscape.guides_count, 'time', 'times') %> added</p> 
    </div> 
    <div class="right"> 
      <div class="share_this"> 
        <p class="share">share this on</p><a class="share_twitter" href="<%= share_in_twitter(@landscape) %>"></a><a class="share_facebook" href="<%= share_in_facebook(@landscape) %>"></a> 
      </div>
      <div class="img_specie">
        <img src="<%= @landscape.picture ? @landscape.picture.image.url(:large) : @landscape.default_picture(:large) %>" alt="<%= @landscape.name %>" title="<%= @landscape.name %>" %>
      </div> 
    </div>
  </div>
</div>

<% unless @landscape.pictures.empty? %>
<div class="main landscape_pictures">
  <h3>Pictures</h3> 
  <p class="subtitle">Here are some pictures taken from <%= link_to('panoramio', "http://www.panoramio.com/") %></p>
  <ul>
    <% @landscape.pictures.each do |picture| %>
    <li><img src="<%= picture.image.url(:medium) %>" alt="Picture from <%= @landscape.name %>"></li>
    <% end -%>
	</ul>
  <span class="line"></span>
</div>
<% end -%>

<div class="main landscape_species">
  <h3>Species near this place</h3> 
  <p class="subtitle">you can also browse <%= link_to('all species', species_index_path) %></p>
  
  <% @landscape.species_kingdoms.each do |k, count| %>
  <h5><%= k.upcase %></h5>
  <ul>
    <% @landscape.species(:conditions => ["kingdom = '#{k}'"]).each do |species| %>
    <li class="<%= cycle('','','last_item') %>">
      <div class="image">
        <img src="<%= species.picture ? species.picture.image.url(:small) : species.default_picture(:small) %>" alt="<%= species.name %>" title="<%= species.name %>">
      </div>
      <div class="info">
        <h4><a href="<%= species_path(species) %>"><%= species.name %></a></h4>
        <% if species.common_name? %>
        <p class="common_name"><%= species.common_name %></p>
        <% end -%>
      </div>
    </li>
    <% end -%>
  </ul>
  <% end %>  

  <% if false %>
  <div class="pagination">
    <a href="#" class="right"></a> 
    <a href="#" class="left disabled"></a> 
    <p>viewing from <strong>1 to 8 of 32</strong></p>
  </div>
  <% end -%>
  
</div>

<div id="your_guide">
  <%= render 'guides/your_guide' %>
</div>