<div class="outer_layout"> 
	<div class="about_header"> 
		<%= image_tag('common/arrow_menu.png', :class=> 'arrow') %>
		<h2>About the Antarctic Field Guides</h2>
		<p class="subtitle">The Antarctic Field Guides is a collaborative tool offering free access to information that can help you identify Antarctic organisms. Thanks to the initial efforts from Prof. Andrew Clarke (British Antarctic Survey) and Dr Stefano Schiaparelli (University of Genoa and Italian National Antarctic Museum), it allows users to build a tailor-made, customized guide, to be taken in the field or simply browsed. The pages are generated on-the-fly from the contents of authoritative, quality controlled data resources (SCAR-MarBIN), and ensures the user to access up-to-date information about the group of organisms he/she is particularly interested in. Even if the primary focus is for scientists, the AFGs are open and free for all to enjoy.</p>
	
		<div class="features">
			<ul>
				<li class="quality">
					<%= image_tag ('about/quality_icon.png'), :class=>'quality' %>
					<h4>Quality information</h4>
					<p>Access expert-validated data</p>
				</li>
				<li>
					<%= image_tag ('about/customizable_icon.png') %>
					<h4>Fully customizable</h4>
					<p>You choose what information will be included in your guide</p>
				</li>
				<li>
					<%= image_tag ('about/printable_icon.png') %>
					<h4>Downloadable & printable</h4>
					<p>All information can be downloaded in printer-friendly format</p>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="main about">
		
		<h3>How does it work?</h3>
		<ul class="explain">
			<li>
				<%= image_tag ('about/explore_explain.png'), :class=>'explore' %>
				<p>Explore the <a href="/species">taxonomy</a> and <a href="/places">places</a> on the AFG website and add them to your Antarctic Field Guide.</p>
			</li>
			<li>
				<%= image_tag ('about/using_other_explain.png'), :class=>'others' %>
				<p>You can also start your guide using an existing one as a template. Explore the <a href="/guides">available field guides</a> submitted by other users.</p>
			</li>
			<li class="last">
				<%= image_tag ('about/download_explain.png'), :class=>'download' %>
				<p>Download your guide in PDF format and print it. And don’t forget to pack it in your next trip to Antarctic!.</p>
			</li>
		</ul>
	</div>
	<div class="main content_about">		
		<div class="left">
			<div class="information_about"> 
				<h3>Where does data come from?</h3> 
				<p>You are building and sharing Antarctic Field Guides by using data from the following sources:</p>
				<ul>
					<li>
						<a href="http://www.scarmarbin.be/" target="_blank"><%= image_tag ('about/SCAR_MarBIN_logo.png'), :class=>'scar' %></a>
						<p class="source_name">SCAR MarBIN</p>
						<p>Free and open access to Antarctic Marine Biodiversity data.</p>
					</li>
					<li>
						<a href="http://www.panoramio.com/" target="_blank"><%= image_tag ('about/panoramio_logo.png'), :class=>'panoramio' %></a>
						<p class="source_name">Panoramio</p>
						<p>Photo-sharing community. Discover the world through photos.</p>
					</li>
					<li class="last">
						<a href="http://www.biodiversity.aq/" target="_blank"><%= image_tag ('about/antabif_logo.png'), :class=>'antabif' %></a>
						<p class="source_name">ANTABIF</p>
						<p>Free and open access to Antarctic biodiversity data.</p>
					</li>
				</ul>
	
			</div>
	  	</div>
		<div class="right"> 
			<div class="questions">
				<%= image_tag ('about/vertex_right.png') %>
				<h3>Can I reuse the data?</h3>
				<p>The content of the AFGs is under the <a href="http://creativecommons.org/licenses/by/3.0" target="_blank">CCBY licence</a>.  You are welcome to share or remix the content of the AFGs. For the moment, we kindly ask you to cite the source as ‘The SCAR Antarctic Field Guides. World Wide Web publication, available online at <a href="http://afg.biodiversity.aq">http://afg.biodiversity.aq</a></p>

				<p>Some media content is under the <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en" target="_blank">Creative Commons Attribution-Noncommercial-Share Alike 3.0 License</a>.</p>
				
			</div>
		</div>
	</div>
	
	<div class="main footer_about">		
		<div class="left">
			<div class="initiative">
				<p class="subtitle">An initiative of</p>
				<h3>SCAR-MarBIN</h3>
				<p>SCAR-MarBIN (SCAR Marine Biodiversity Information Network) establishes and supports a distributed system of interoperable databases, forming the Antarctic Regional OBIS Node, under the aegis of SCAR (Scientific Committee on Antarctic Research). <a href="#">Learn more</a></p>
				
				<p class="partners">Partners</p>
				<ul class="partners_list">
					<li><a href="http://www.antarctica.ac.uk/" target="_blank" class="bas"></a></li>
					<li><a href="http://www.caml.aq/" class="caml" target="_blank"></a></li>
					<li><a href="http://foundation.total.com/" class="total" target="_blank"></a></li>
				</ul>
			</div>
		</div>
		<div class="right">
			<div class="contact">
				<%= image_tag ('about/vertex_blue.png') %>
				<h3>Contact</h3>
				<p>If you need more information about Antarctic Field Guides, please send an email to <a href="mailto:bruno.danis@scarmarbin.be">Bruno Danis</a></p>
			</div>
		</div>
	</div>
</div>

