  <div class="images_gallery">
    <% if @pictures %>
    <div class="slider_outer">
      <div id="slider">
        <% @pictures.each do |picture| %>
        <img src="<%= picture.image.url(:huge) %>" title="<%= picture.species.full_name %>" alt="<%= picture.species.common_name %>" class="<%= picture.species.guides_count %> <%= species_path(picture.species) %>"/>
        <% end -%>
      </div><!-- #slider -->
    </div>
    <% end -%>
    <span class="main_bkg"></span>
    <h2>Build and share your custom <a href="<%= guides_path %>">Antarctic Field Guide</a>,<br>by assembling resources for <%= link_to('species', species_index_path) %> and <%= link_to('Places', landscapes_path) %></h2>
  </div><!-- .images_gallery -->

  <div class="left">
    <div class="information">
      <h3>Species found in the Antarctic</h3>
      <p class="subtitle">you can find <%= link_to("#{Species.complete.count} species", species_index_path) %></p>
      <div class="species_list">
        <ul class="published_afg">
          <% @species.each do |species| %>
          <li class="<%= cycle('', '', 'last', '', '', 'last') %>">
            <%= render species %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="bottom">
      <p><%= number_with_delimiter(Species.complete.count, :separator => ",")  %> species in our <%= link_to('species list', species_index_path) %></p>
    </div>
    <div class="create">
      <h3>Published Antarctic Field Guides</h3>
      <p class="subtitle">create your AFG with species and places, and enjoy your trip</p>
      <ul class="published_afg">
        <% @guides.each do |guide| %>
        <li class="<%= cycle('', '', 'last') %>">
          <%= render guide %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="bottom noborder">
      <p>browse our <a href="<%= guides_path %>">guide catalog</a> created by the users</p>
    </div>
  </div>

  <div class="right">
    <div class="latest_">
      <h3>Latest activity</h3>
      <% unless @activities.empty? %>
      <p class="subtitle">species, guides and places added...</p>
      <ul>
        <% @activities.each_with_index do |entry, i| %>
          <li>
            <div class="latest <%= 'first' if i == 0 %>">
              <%= render :partial => "activities/#{entry.activity_type}", :locals => { :entry => entry } %>
            </div>
          </li>
        <% end -%>
      </ul>
      <% end -%>
    </div>
    <div class="bottom">
      <p>why this matters? <a href="<%= guides_path %>">create your guide</a></p>
    </div>
    <div class="blue">
      <%= image_tag('home/white_arrow.png', :class=> 'arrow') %>
      <h4>Create your guide</h4>
      <p class="subtitle">create your AFG when you want, it's free!</p>
      <ul>
        <li>
          <div class="image">
            <img src="images/home/browse.png" alt="Browse"/>
          </div>
          <div class="data">
            <h5>Browse our site</h5>
            <p>Explore our database of species, and places</p>
          </div>
        </li>
        <li>
          <div class="image">
            <img src="images/home/add.png" alt="Add" />
          </div>
          <div class="data">
            <h5>Add to your guide</h5>
            <p>You can add anything dragging or clicking the add button</p>
          </div>
        </li>
        <li>
          <div class="image">
            <img src="images/home/download.png" alt="Download" />
          </div>
          <div class="data">
            <h5>Download it</h5>
            <p>Download it in PDF format and publish it if you want</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div id="your_guide">
    <%= render 'guides/your_guide' %>
  </div>