<div class="images_gallery"> 
  
  <div id="slider"> 
    <% @pictures.each do |picture| %>
    <img src="<%= picture.public_filename %>" alt="<%= picture.species.full_name %>" title="<%= picture.species.full_name %>"/> 
    <% end -%>
  </div><!-- #slider -->
  
  <h2>Meet incredible <%= link_to('species', :controller => 'species', :action => 'index') %>,<br/> 
    and create your <a href="<%= guides_path %>">antartic field guide</a>.</h2> 
</div><!-- .images_gallery -->

<div class="left"> 
  <div class="information"> 
    <h3>Species that you can find in the antartic</h3> 
    <p class="subtitle">you can find more than <%= link_to("#{Species.count} species", :controller => 'species', :action => 'index') %></p> 
    <div class="species_list"> 
      <ul class="published_afg">
        <% Species.limit(6).each do |species| %>
        <li class="<%= cycle('', '', 'last', '', '', 'last') %>"> 
          <%= render species %>
        </li> 
        <% end %>
      </ul> 
    </div> 
  </div> 
  <div class="bottom"> 
    <p>more than <%= number_with_delimiter(Species.count, :separator => ",")  %> species in our <%= link_to('species list', :controller => 'species', :action => 'index') %></p> 
  </div> 
  <div class="create"> 
    <h3>Some of the already created Antartic Field Guides</h3> 
    <p class="subtitle">create your AFG with species and landscapes, and enjoy your trip</p> 
    <ul class="published_afg"> 
      <% Guide.highlighted.limit(3).each do |guide| %>
      <li class="<%= cycle('', '', 'last') %>"> 
        <%= render guide %>
      </li> 
      <% end %>
    </ul> 
  </div> 
  <div class="bottom noborder"> 
    <p>browse our <a href="<%= guides_path %>">guide catalog</a> created by the users</p> 
  </div> 
</div> 

<div class="right"> 
  <div class="latest_"> 
    <h3>Latest activity</h3> 
    <p class="subtitle">species, guides and landscapes added...</p> 
    <ul>
      <% Activity.limit(10).order('created_at DESC').each_with_index do |activity, i| %>
      <li> 
        <div class="latest <%= 'first' if i == 0 %>"> 
          <%= render :partial => "activities/#{activity.action}", :locals => { :activity => activity } %>
        </div> 
      </li> 
      <% end -%>
    </ul> 
  </div> 
  <div class="bottom"> 
    <p>why this matters? <a href="<%= guides_path %>">create your guide</a></p> 
  </div> 
  <div class="blue"> 
    <img src="images/home/blue_arrow.png" alt="Blue Arrow" class="arrow"/> 
    <h4>Create your guide</h4> 
    <p class="subtitle">create your AFG when you want, it's free!</p> 
    <ul>
      <li> 
        <div class="image"> 
          <img src="images/home/browse.png" alt="Browse"/> 
        </div> 
        <div class="data"> 
          <h5><a href="<%= explore_path %>">Browse our site</a></h5> 
          <p>Explore our database of species, and landscapes</p> 
        </div> 
      </li> 
      <li> 
        <div class="image"> 
          <img src="images/home/add.png" alt="Add" /> 
        </div> 
        <div class="data"> 
          <h5><a href="#">Add to your guide</a></h5> 
          <p>You can add anything dragging or clicking the add button</p> 
        </div> 
      </li> 
      <li> 
        <div class="image"> 
          <img src="images/home/download.png" alt="Download" /> 
        </div> 
        <div class="data"> 
          <h5><a href="#">Download it</a></h5> 
          <p>Download it in PDF format and publish it if you want</p> 
        </div> 
      </li> 
    </ul> 
  </div> 
</div> 

<%= render 'guides/your_guide' %>