<div class="image"> 
  <img src="<%= entry.element.species && entry.element.species.picture ? entry.element.species.picture.url(:small) : Species.default_picture(:small) %>" alt="<%= entry.element_id %>" /> 
</div> 
<div class="data"> 
  <p>Someone has added <%= entry.element_type.downcase %> <%= entry.element_id %>.</p> 
  <p class="ago"><%= time_ago_in_words(entry.created_at) %> ago</p> 
</div> 
