	<div class="information_title"> 
	  <h4><a href="<%= guide_path(guide) %>"><%= guide.name %></a></h4> 
	  <p class="by">by <%= guide.author %></p> 
    <%= stars(guide) %>
	</div> 
	<div class="stats">
		<div class="<%= guide.species_count %>"></div>
	  <p class="species_rank second_rank left"><%= pluralize(guide.species_count, 'SPECIE') %></p> 
	</div>              
