	<div class="information_title"> 
	  <h4><a href="<%= guide_path(guide) %>"><%= guide.name %></a></h4> 
	  <p class="by">by <%= guide.author %></p> 
    <%= stars(guide) %>
	</div> 
	<div class="stats">
		<span class="<%= guide.species_count %>" title="specie"></span>
	  <p class="species_rank"><%= pluralize(guide.species_count, 'SPECIE') %></p>
		<span class="<%= guide.landscapes_count %>" title="landscape"></span>
	  <p class="landscapes_rank"><%= pluralize(guide.landscapes_count, 'LANDSCAPE') %></p>
	</div>              
