<div class="long">
	<% if current_page?('/') %>
		<%= image_tag ('common/blue_arrow.png', :class=> 'arrow') %>
	<% end %>
  <div class="long_in">
		<div class="title">
    	<h3>Your Atlantic Field Guide</h3> 
    	<p class="subtitle"><%= @entries.total_pages > 1 ? "#{@entries.total_pages} pages": '' %></p> 
		</div>
    <ul id="your_guide">
      <% @entries.each do |entry| %>
        <li class="<%= entry_css_class(entry) %>">
          <p class="title" title="<%= entry.full_name %>"><%= truncate(entry.full_name, :length => 15) %></p>
          <% if entry.element_type == 'Landscape' %>
          <img src="#" alt="landscape" title="landscape" />
          <% elsif entry.element_type == 'Species' %>
          <img src="<%= entry.element.picture ? entry.element.picture.image.url(:small) : entry.element.default_picture(:medium) %>" alt="specie" title="specie" />
          <% elsif entry.element_type == 'Guide' %>
          <p class="by">by <%= entry.element.author %></p>
          <% else %>
          <p class="count"><%= entry.elements_count %> species</p>
          <% end -%>
          <p class="page_title">PAGE</p>
        	<div class="over_state">
						<a href="#" title="view" class="view"></a>
						<a href="#" title="delete" class="delete"></a>
					</div>
        </li> 
      <% end -%>
      <li class="dragg_here"><p><%= controller_name == 'species' ? 'Add the species' : (controller_name == 'landscapes' ? 'Add the landscape' : 'Add to the guide') %></p></li>
    </ul> 
  </div> 
  <div class="bottom"> 
    <% if @entries.total_pages > 1 %>
      <div class="left_side"> 
        <% unless @entries.current_page == @entries.total_pages %>
        <a href="<%= entries_path(:entry_page => @entries.current_page + 1) %>" class="left ajax"></a> 
        <% end -%>
        <% unless @entries.current_page == 1 %>
        <a href="<%= entries_path(:entry_page => @entries.current_page - 1) %>" class="right ajax"></a> 
        <% end -%>
      </div> 
    <% end -%>
    <div class="right_side">
      <p><a class="preview" href="<%= pdf_guide_path(@current_guide) %>">Preview</a> or </p>
      <a href="<%= edit_guide_path %>" class="publish" id="publish_and_download"></a>
    </div> 
  </div>
</div>