<div class="long"> 
  <div class="long_in">
		<div class="title">
    	<h3>Your Atlantic Field Guide</h3> 
    	<p class="subtitle"><%= @current_guide.entries.count > 1 ? @current_guide.entries.count : 'Here is were your species and landscapes will be added' %></p> 
		</div>
    <ul id="sortable">
      <% @current_guide.entries.each do |entry| %>
      	<li id="draggable" class="<%= entry_css_class(entry) %>"><p class="title" title="<%= entry.full_name %>"><%= entry.full_name.truncate(15) %></p></li> 
      <% end -%>

			<!-- Kind of guides you can add -->

			<li class="single">
				<p class="title" title="Whales!">Whales!</p>
				<p class="by">by You</p>
				<p class="page_title">PAGE</p>
			</li> 
			<li class="amount">
				<p class="title" title="ouyeah">ALL WHALES</p>
				<p class="count">23 species</p>
				<p class="page_title">PAGE</p>
			</li>
			<li class="specie">
				<p class="title" title="ouyeah">SPECIE</p>
				<img src="#" alt="specie" title="specie" />
				<p class="page_title">PAGE</p>
			</li>
			<li class="landscape">
				<p class="title" title="ouyeah">LANDSCAPE</p>
				<img src="#" alt="landscape" title="landscape" />
				<p class="page_title">PAGE</p>
			</li>
			
			<!-- end -->
			
      <li class="dragg_here"><p>ADD YOUR LANDSCAPE</p></li>   <!-- Change Landscape between Specie or Landscape depends on the page you are -->       
    </ul> 
  </div> 
  <div class="bottom"> 
    <% if @current_guide.entries.count > 5 %>
    	<div class="left_side"> 
	      <a href="#" class="left"></a> 
	      <a href="#" class="right"></a> 
	    </div> 
    <% end -%>
    <div class="right_side">
			<p><a class="preview" href="#">Preview</a> or </p>
			<a href="<%= edit_guide_path %>" class="publish" id="publish_and_download"></a>
    </div> 
  </div>
</div>