<div class="long"> 
  <div class="long_in">
		<div class="title">
    	<h3>Your Atlantic Field Guide</h3> 
    	<p class="subtitle"><%= @current_guide.entries.count > 1 ? @current_guide.entries.count : 'Here is were your species and landscapes will be added' %></p> 
		</div>
    <ul id="sortable">
      <% @current_guide.entries.each do |entry| %>
        <li class="<%= entry_css_class(entry) %>">
          <p class="title" title="<%= entry.full_name %>"><%= truncate(entry.full_name, :length => 15) %></p>
          <% if entry.element_type == 'Landscape' %>
          <img src="#" alt="landscape" title="landscape" />
          <% elsif entry.element_type == 'Species' %>
          <img src="#" alt="specie" title="specie" />
          <% elsif entry.element_type == 'Guide' %>
          <p class="by">by <%= entry.element.author %></p>
          <% else %>
          <p class="count"><%= entry.elements_count %> species</p>
          <% end -%>
          <p class="page_title">PAGE</p>          
        </li> 
      <% end -%>
      <li class="dragg_here"><p><%= controller_name == 'species' ? 'Add the species' : (controller_name == 'landscapes' ? 'Add the landscape' : 'Add to the guide') %></p></li>
    </ul> 
  </div> 
  <div class="bottom"> 
    <% if @current_guide.entries.count > 5 %>
      <div class="left_side"> 
        <a href="#" class="left"></a> 
        <a href="#" class="right"></a> 
      </div> 
    <% end -%>
    <div class="right_side">
      <p><a class="preview" href="#">Preview</a> or </p>
      <a href="<%= edit_guide_path %>" class="publish" id="publish_and_download"></a>
    </div> 
  </div>
</div>