<div class="wide_container"> 
  
  <div class="header_guides"> 
    <img class="arrow" src="images/common/arrow_menu.png" alt=""/> 
    <div class="content"> 
        <p class="title">Most popular Antartic Field Guides</p> 
        <p class="by">choose one of this guides if you don't want to create yours from scratch</p> 
        <ul>
          <% Guide.highlighted.limit(4).each do |guide| %>
          <li> 
            <%= render guide %>
          </li>
          <% end %>
        </ul> 
    </div> 
  </div> <!-- header_guide -->
  
  <div class="left"> 
    <div id="guides_left" class="create"> 
      <h3>Published Antartic Field Guides</h3> 
      <p class="subtitle"><b><%= pluralize(Guide.published.not_highlighted.count, 'AFG', 'AFGs') %> published</b></p> 
      
      <div class="sorted_by"> 
        <p class="title">Order by:</p>
        <p class="kind_sorted">
          <%= link_to('Most popular', guides_path(:sort_by => 'popularity'), :class => (params[:sort_by].blank? || params[:sort_by] == 'popularity' ? '' : 'activated')) %>
          <span class="vertical_line"></span>
          <%= link_to('Most recent', guides_path(:sort_by => 'date'), :class => (params[:sort_by] == 'date' ? '' : 'activated')) %>
        </p> 
        <a class="sorted_box_deactivated" href="#"> 
          <div class="deactivated_box"> 
            <p>From last week</p> 
          </div> 
        </a>    
        
        <div class="activated_box"> 
          <a class="sorted_box_activated" href="#"> 
            <span class="head"> 
              <p>From last week</p> 
            </span> 
          </a> 
          <ul class="kind_sort"> 
            <li> 
              <a href="#">From last Month</a> 
            </li> 
            <li> 
              <a href="#">From last 3 Months</a> 
            </li> 
            <li class="last"> 
              <a href="#">From last year</a> 
            </li> 
          </ul> 
        </div> 
      </div> <!-- Sorted_box --> 
    
      <ul class="published_afg">
        <% @guides.each do |guide| %>
        <li class="<%= cycle('multiple', 'multiple', 'multiple_last') %>"> 
          <%= render guide %>
        </li>
        <% end -%>
      </ul>  <!-- afg_published --> 
      
      <% if @guides.total_pages > 1 %>
      <div class="pagination"> 
        <p>viewing from <b><%= guides_shown(@guides) %> of <%= @guides.total_entries %></b></p>
        <%= link_to_unless(@guides.current_page == 1, '', url_for(params.merge(:page => @guides.previous_page)), :class => 'left') %>
        <%= link_to_unless(@guides.current_page == @guides.total_pages, '', url_for(params.merge(:page => @guides.next_page)), :class => 'right') %>
      </div> 
      <% end -%>
    </div><!-- information -->     
  </div> 
  
  <div class="right"> 
    <div class="about_afg"> 
      <h3>Atlantic Field Guide?</h3> 
      <p class="subtitle">an explanation about what the AFGs are</p> 
      <h2>What does Antartic Field Guide means for us</h2> 
      <p class="about">An Atlantic Field Guide is a recopilation of Antartic species and antartic landscapes, made by yourself or by someone in the world, wich has as objective to give you useful information for your antartic trips, or only because you want to improve your knowledge</p> 
      
      <h2>Another paragraph</h2> 
      <p class="about">An Atlantic Field Guide is a recopilation of Antartic species and antartic landscapes, made by yourself or by someone in the world, wich has as objective to give you useful information for your antartic trips, or only because you want to improve your knowledge</p> 
      
      <h2>Another paragraph</h2> 
      <p class="about">An Atlantic Field Guide is a recopilation of Antartic species and antartic landscapes, made by yourself or by someone in the world, wich has as objective to give you useful information for your antartic trips, or only because you want to improve your knowledge</p> 
      
      <h2>Another paragraph</h2> 
      <p class="about last">An Atlantic Field Guide is a recopilation of Antartic species and antartic landscapes, made by yourself or by someone in the world, wich has as objective to give you useful information for your antartic trips, or only because you want to improve your knowledge</p> 
    </div> 
  </div> <!-- .right -->
  
  <div class="long"> 
    <div class="long_in"> 
      <h3>Your Atlantic Field Guide</h3> 
      <p class="subtitle">Here is were your species and landscapes will be added</p> 
      <ul id="sortable"> 
        <li id ="draggable" class="single"><p class="title">Your AFG</p></li> 
        <li id ="draggable" class="single"><p class="title">Your AFG</p></li> 
        <li id ="draggable" class="amount"><p class="title">Your AFG</p></li> 
        <li class="dragg_here"><p>DRAGG SOMETHING HERE TO ADD IT</p></li>          
      </ul> 
    </div> 
    <div class="bottom"> 
      <div class="left_side"> 
        <a href="#" class="left"></a> 
        <a href="#" class="right"></a> 
      </div> 
      <div class="right_side"> 
        <a href="#"></a> 
      </div> 
    </div> 
  </div><!-- .long -->
  
</div><!-- .wide_container -->