<div class="outer_layout"> 
  <div class="guides_header"> 
    <%= image_tag ('common/arrow_menu.png', :class=> 'arrow') %>
    <p class="title">Featured Antarctic Field Guides</p> 
    <p class="by">we have prepared a few representative field guides for you to download or use as a template</p> 
    <ul>
      <% Guide.highlighted.limit(4).each_with_index do |guide,index| %>
        <li class="<%= index==3 ? 'last' : ''  %> highlighted"><%= render guide %></li>
      <% end %>
    </ul> 
  </div>
</div>

<div class="main guides">
  <div class="left"> 
    <div id="guides_left" class="create"> 
      <h3>Published Antarctic Field Guides</h3> 
      <p class="subtitle"><%= pluralize(Guide.published.not_highlighted.count, 'AFG', 'AFGs') %> published</p> 
      <div id="guides">
        <%= render 'guides' %>
      </div>
    </div>    
  </div> 

  <div class="right"> 
    <div class="about_afg"> 
      <h3>Antarctic Field Guide?</h3> 
      <p class="subtitle">a dynamic identification aid for you to embark or enjoy</p> 
      <h2>Pick your items...</h2> 
      <%= image_tag ('guides/step1.jpg') %>
      <p class="info">Explore Antarctic Field Guides and add your favorite <strong>species</strong> and <strong>places</strong> to your guide.</p> 
      
      <h2>... or browse existing guides</h2> 
      <%= image_tag ('guides/step2.jpg') %>
      <p class="info">You can use a guide created by other users as a template for your own.</p> 
    
      <h2>Download, print and go!</h2> 
      <%= image_tag ('guides/step3.jpg') %>
      <p class="info">Download your guide as a PDF and save/print it.</p> 
    
      <p class="now">And now...</p>
      <a href="<%= species_index_path %>" class="start" title="Start exploring species!"></a>
    </div> 
  </div>
</div>

<div id="your_guide">  
<%= render 'guides/your_guide' %>
</div>
