<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag 'layout' %>
  <%= stylesheet_link_tag 'pdf', :media => 'print' %>
</head>
<body>
  <!-- FRONT -->
  <div class="outer_pdf">
    <div class="main_pdf front">
      <%= image_tag('common/logo.png', :class=>"AFG") %></a>
      <% if @guide.published? %>
        <h1><%= @guide.name %></h1>
        <h2>by <%= @guide.author %></h2>
      <% else %>
        <% if @guide.name.blank? %>
          <h1>Previewing guide</h1>
        <% else %>
          <h1><%= @guide.name %></h1>
        <% end %>
        <% unless @guide.author.blank? %>
          <h2>by <%= @guide.author %></h2>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= page_break %>

  <!-- INDEX -->
  <div class="outer_pdf">
    <div class="main_pdf index">
      <h1>Index</h1>
      <ul>
        <li>Index <strong>/ 2</strong></li>
        <li>About Antarctic Field Guides <strong>/ 3</strong></li>

        <% if params[:checklist] %>
          <% species_page = 4; landscape_page = species_page %>
          <% unless @guide.species.empty? %>
          <li>Species <strong>/ 4</strong>
            <ul>
              <% @guide.species.each_with_index do |species, i| %>
                <% species_page += 1 if i%4 == 0 && i > 1%>
                <li><%= species.full_name %> - <%= species_page %></li>
              <% end %>
            </ul>
          </li>
          <% end %>

          <% unless @guide.landscapes.empty? %>
          <% landscape_page = species_page + 1 %>
          <li>Places <strong>/ <%= landscape_page %></strong>
            <ul>
              <% @guide.landscapes.each_with_index do |landscape, i| %>
                <% landscape_page += 1 if i%4 == 0 && i > 1%>
                <li><%= landscape.name %> - <%= landscape_page %></li>
              <% end %>
            </ul>
          </li>
          <% end %>
        <% else %>
          <% species_page = 4; landscape_page = species_page %>
          <% unless @guide.species.empty? %>
          <li>Species <strong>/ 4</strong>
            <ul>
              <% @guide.species.each do |species| %>
              <li><%= species.full_name %> - <%= species_page %></li>
              <% species_page += 1 %>
              <% end %>
            </ul>
          </li>
          <% end %>

          <% unless @guide.landscapes.empty? %>
          <% landscape_page = species_page %>
          <li>Places <strong>/ <%= landscape_page %></strong>
            <ul>
              <% @guide.landscapes.each do |landscape| %>
              <li><%= landscape.name %> - <%= landscape_page %></li>
              <% landscape_page += 1 %>
              <% end %>
            </ul>
          </li>
          <% end %>
        <% end %>
      </ul>
      <%= render :partial => 'footer' %>
    </div>
  </div>
  <%= page_break %>


  <!-- ABOUT -->
  <div class="outer_pdf">
    <div class="main_pdf about">
      <h1>About Antarctic Field Guides</h1>
      <h2>About the project</h2>
      <p>The Antarctic Field Guides is a collaborative tool offering free access to information that can help you identify Antarctic organisms. Thanks to the initial efforts from Prof. Andrew Clarke (British Antarctic Survey) and Dr Stefano Schiaparelli (University of Genoa), it allows users to build a tailor-made, customized guide, to be taken in the field or simply browsed. The pages are generated on-the-fly from the contents of authoritative, quality controlled data resources (<a href="http://www.scarmarbin.be" target="_blank">SCAR-MarBIN</a> and <a href="http://www.biodiversity.aq" target="_blank">ANTABIF</a>), and ensures the user to access up-to-date information about the group of organisms he/she is particularly interested in. Even if the primary focus is for scientists, the AFGs are open and free for all to enjoy.</p>

      <h2>About the data and its usage</h2>
      <p>The content of the AFGs is under the <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CCBY licence</a>.  You are welcome to share or remix the content of the AFGs. For the moment, we kindly ask you to cite the source as "The SCAR Antarctic Field Guides. World Wide Web publication, available online at <a href="http://afg.biodiversity.aq">http://afg.biodiversity.aq</a>"</p>

  <p>Some media content is under the <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en" target="_blank">Creative Commons Attribution - Noncommercial - Share Alike 3.0 License</a>.</p>
      <%= render :partial => 'footer' %>
    </div>
  </div>
  <%= page_break %>

  <% if params[:checklist] %>
    <!-- SPECIES CHECKLIST-->
    <% @guide.species.in_groups_of(4) do |group| %>
    <div class="outer_pdf">
      <div class="main_pdf checklist">
        <p class="page"><%= @count %></p>
        <h1>Species checklist</h1>
        <% group.each do |species| %>
          <% next if species.nil? %>
          <div class="check_specie">
            <p class="common_name"><%= species.common_name %></p>
            <h3><%= species.full_name %></h3>
          </div>
        <% end %>
        <%= render :partial => 'footer' %>
      </div>
    </div>
    <%= page_break %>
    <% end %>

    <% @guide.landscapes.in_groups_of(4) do |group| %>
    <div class="outer_pdf">
      <div class="main_pdf checklist">
        <p class="page"><%= @count %></p>
        <h1>Landscapes checklist</h1>
        <% group.each do |landscape| %>
          <% next if landscape.nil? %>
          <div class="check_specie">
            <h3><%= landscape.name %></h3>
          </div>
        <% end %>
        <%= render :partial => 'footer' %>
      </div>
    </div>
    <%= page_break %>
    <% end %>

  <% else %>

    <!-- SPECIES -->
    <% @guide.species.each do |species| %>
      <div class="outer_pdf">
        <div class="main_pdf">
          <p class="page"><%= @count %></p>
          <div class="left">
            <div class="header">
              <p class="common_name">Scientific name</p>
              <h1><%= species.full_name %></h1>
              <ul class="breadcrumb">
                <li class="first"><%= species.kingdom %></li>
                <li><%= species.phylum %></li>
                <li><%= species.t_class %></li>
                <li><%= species.t_order %></li>
                <li><%= species.family %></li>
                <li class="last"><%= species.genus %></li>
              </ul>
            </div>
            <div class="images">
              <ul>
                <% species.pictures.each do |picture| %>
                  <li><img src="<%= picture.image.url(:medium) %>" alt="<%= "#{species.full_name} - #{picture.title} - #{picture.photographer}" %>" /></li>
                <% end -%>
              </ul>
            </div>

            <div class="info">
      <% if !(species.description.empty?) %>
              <h2>Description</h2>
              <%= simple_format(species.description) %>
      <%end%>

      <% if !(species.distinguishing_characters.empty?) %>
        <h2>Distinguishing Characters</h2>
              <%= simple_format(species.distinguishing_characters) %>
      <%end%>

      <% if !(species.distribution.empty?) %>
              <h2>Distribution info</h2>
              <%= simple_format(species.distribution) %>
      <%end%>
      <% if species.ecology && !species.ecology.empty? %>
              <h2>Ecology</h2>
              <%= simple_format(species.ecology) %>
      <%end%>
            </div>
          </div>

          <div class="right">
            <div class="map">
              <img src="/api/maps/static_map?species_id=<%= species.id %>" />
            </div>
            <div class="info">
          <% unless species.size.blank? %>
                <h3>Size</h3>
                <%= simple_format(species.size) %>
          <%end%>
          <% unless species.habitat.blank? %>
                <h3>Habitat</h3>
                <%= simple_format(species.habitat) %>
          <%end%>
          <% unless species.distribution.blank? %>
                <h3>Depth of the distribution</h3>
                <%= simple_format(species.distribution) %>
          <%end%>
            </div>
          </div>

          <%= render :partial => 'footer' %>
        </div>
      </div>
      <%= page_break %>
    <% end %>

    <!-- LANDSCAPE -->
    <% @guide.landscapes.each do |lanscape| %>
      <div class="outer_pdf">
        <div class="main_pdf">
          <p class="page"><%= @count %></p>
          <div class="left">
            <div class="header">
              <h1><%= lanscape.name %></h1>
            </div>
            <div class="images">
              <ul>
                <% lanscape.pictures.each do |picture| %>
                  <li><img src="<%= picture.image.url(:medium) %>" alt="<%= lanscape.name %>" /></li>
                <% end -%>
              </ul>
            </div>

            <div class="info">
              <h2>Description</h2>
              <%= simple_format(lanscape.description) %>
              <h2>Notes</h2>
            </div>
          </div>

          <div class="right">
            <div class="map">
              <img src="/api/maps/static_map?landscape_id=<%= lanscape.id %>">
            </div>
            </div>
            <div class="info">
              <h3>Species near this place</h3>
              <ul>
                <% lanscape.species(:limit => 3).each do |species| %>
                <li><%= species.name %></li>
                <% end %>
              </ul>
            </div>
          </div>
          <%= render :partial => 'footer' %>
        </div>
      </div>
      <%= page_break %>
    <% end %>

  <% end %>

</body>
</html>