<%= javascript_include_tag "http://openlayers.org/dev/OpenLayers.js" %>
<%= javascript_include_tag "landscapes/landscapes.js" %>
  

<div class="outer_layout"> 
  <div class="guide_header"> 
    <%= image_tag ('common/arrow_menu.png', :class=> 'arrow') %>
      <div class="left"> 
        <ul class="breadcrumb">
          <li><a href="<%= guides_path %>">Guides</a></li>
        </ul>
        <h1><%= @guide.name %></h1> 
        <p class="by">created by <strong><%= @guide.author %></strong> on <%= @guide.updated_at.strftime("%B %dth, %Y") %></p>
      
        <div class="map_container">
          <div id="map"></div>
        </div>
      </div>  

      <div class="right"> 
        <div class="data_info"> 
          <p class="downloads_data"><span><%= @guide.downloads_count %> DOWNLOADS</span></p>
          <p class="download"><a href="<%= pdf_guide_path(@guide) + '.pdf' %>">or download it</a></p>
        </div> 
				<div class="stats white">
					<span class="<%= @guide.species_count %>" title="specie"></span>
				  <p class="species_rank"><%= pluralize(@guide.species_count, 'SPECIE') %></p>
					<span class="<%= @guide.landscapes_count %>" title="landscape"></span>
				  <p class="landscapes_rank"><%= pluralize(@guide.landscapes_count, 'LANDSCAPE') %></p>
				</div>
        <%= simple_format(@guide.description, :class => 'info_guide') %>
      
        <a class="download_guide" href="<%= pdf_guide_path(@guide) + '.pdf' %>"> 
          <p class="title">download this guide</p> 
          <p class="size">(32 pages, 2,3MB)</p>
        </a> 
        <p class="template">or <%= link_to('use it as template', entries_path(:type => 'Guide', :id => @guide.id), :method => :post) %> for yours</p>
      </div>
  </div>
</div>

<div class="main guide">
  <div class="top">
    <div class="left">
      <h2><%= @guide.species.size %> species included in this guide</h2>
      <p class="subtitle">you can also browse <%= link_to('all species', species_index_path) %></p> 
    </div>
    <% unless @guide.species_kingdoms.empty? %>
    <div class="right">
      <ul>
        <% @guide.species_kingdoms.each do |k, count| %>
        <li <%= raw('class="last"') if k == @guide.species_kingdoms.keys.first %>><a href="javascript:void goTo('<%= k %>')"><span><%= k %> (<%= count %>)</span></a></li>
        <% end -%>
      </ul>
    </div>
    <% end -%>
  </div>
  
  <% @guide.species_kingdoms.each do |k, count| %>
  <div class="family" id="<%= k %>">
    <h3><%= count %> <%= k.upcase %></h3>
    <ul>
      <% @guide.species.select{|s| s.kingdom == k }.each do |species| %>
      <li class="<%= cycle('','','last_item') %>">
        <div class="image">
          <%= image_tag ('defaults/small_specie.jpg') %>
        </div>
        <div class="info">
          <h4><a href="<%= species_path(species) %>"><%= species.name %></a></h4>
          <% if species.common_name? %>
          <p class="common_name"><%= species.common_name %></p>
          <% end -%>
        </div>
      </li>
      <% end -%>
    </ul>
  </div>
  <% end %>  
</div>

<div id="your_guide">  
  <%= render 'guides/your_guide' %>
</div>