<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!-- <base href="http://localhost:3000/" /> -->
  <%= stylesheet_link_tag 'layout' %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js" type="text/javascript" charset="utf-8"></script> 
	<%= javascript_include_tag "http://openlayers.org/dev/OpenLayers.js" %>
	<%= javascript_include_tag "pdf/map.js" %>
  <%= csrf_meta_tag %>
</head>
<body>
	
	<% @species.each_with_index do |species,index| %>
		<div class="outer_pdf">
			<div class="main_pdf">
				<p class="page"><%= index + 1 %></p>
				<div class="left">
					<div class="header">
						<p class="common_name">Common name</p>
						<h1><%= species.full_name %></h1>
						<ul class="breadcrumb">
							<li class="first">Animalia</li>
							<li>Mollusca</li>
							<li class="last">Gastropoda</li>
						</ul>
					</div>
					<div class="images">
						<ul>
						 <% species.pictures.each do |picture| %>
			      		<li><img src="<%= picture.image.url(:medium) %>" alt="<%= "#{@species.name} - #{picture.title} - #{picture.photographer}" %>" /></li> 
				      <% end -%>
						</ul>
					</div>
		
					<div class="info">
						<h2>Description</h2>
						<%= simple_format(species.description) %>
						<h2>Distinguishing Characters</h2>
						<%= simple_format(species.description) %>
						<h2>Distribution info</h2>
						<%= simple_format(species.distribution) %>
						<h2>Ecology</h2>
						<%= simple_format(species.ecology) %>
					</div>
				</div>
	
				<div class="right">
					<div class="map"></div>
					<div class="info">
						<h3>Size</h3>
						<%= simple_format(species.size) %>
						<h3>Feeding behavior</h3>
						<%= simple_format(species.size) %>
						<h3>Reproductive behavior</h3>
						<%= simple_format(species.size) %>
						<h3>Habitat</h3>
						<%= simple_format(species.habitat) %>
						<h3>Depth of the distribution</h3>
						<%= simple_format(species.distribution) %>
					</div>
				</div>

			</div>
		</div>
	<% end %>

</body>
</html>