<% content_for :post_js do %>
  <%= raw javascript_include_merged :guides_maps %>
<% end -%>

<span style="display:none" id="guide_id"><%= @guide.id %></span>

<div class="outer_layout"> 
  <div class="guide_header"> 
    <%= image_tag ('common/arrow_menu.png', :class=> 'arrow') %>
		<div class="large">
      <div class="left"> 
        <ul class="breadcrumb">
          <li><a href="<%= guides_path %>">Guides</a></li>
        </ul>
        <h1><%= @guide.name %></h1> 
        <p class="by">created by <strong><%= @guide.author %></strong> on <%= @guide.updated_at.strftime("%B %dth, %Y") %></p>
      
        <div class="map">
          <div id="map"></div>
			  <a href="javascript: void toggleFullScreen()" class="full_screen"></a>
		      <a href="javascript: void zoomIn()" class="zoomIn"></a>
		      <a href="javascript: void zoomOut()" class="zoomOut"></a>
			  <%= image_tag('map/map-loading.gif', :class=> 'loading') %>
			  <a href="http://www.vizzuality.com" target="_blank" class="vizzuality"></a>
          </div>
       </div>  

      <div class="right"> 
        <div class="data_info"> 
          <p class="downloads_data"><span><%=pluralize(@guide.downloads_count,"DOWNLOADS")%></span></p>

        </div> 
		<div class="stats white">
			<span class="<%= @guide.species_count %>" title="specie"></span>
		  <p class="species_rank"><%= pluralize(@guide.species_count, 'SPECIE') %></p>
			<span class="<%= @guide.landscapes_count %>" title="landscape"></span>
		  <p class="landscapes_rank"><%= pluralize(@guide.landscapes_count, 'PLACE') %></p>
		</div>
        <%= simple_format(@guide.description, :class => 'info_guide') %>
        <a class="download_guide" href="<%= download_pdf_guide_url(@guide) %>"> 
          <p class="title">download this guide</p> 
          <p class="size">(<%= @guide.pages_count %> pages, <%= number_to_human_size(@guide.size_in_bytes) %> approx.)</p>
        </a> 
        <p class="template">or <%= link_to('use it as template', create_entry_path(:type => 'Guide', :id => @guide.id), :method => :post) %> for yours</p>
      </div>
		</div>
  </div>
</div>

<div class="main guide">
  <div class="top">
    <div class="left">
      <h2><%= @guide.species.size %> species included in this guide</h2>
      <p class="subtitle">you can also browse <%= link_to('all species', species_index_path) %></p> 
    </div>
    <% unless @guide.species_kingdoms.empty? %>
    <div class="right">
      <ul>
        <% @guide.species_kingdoms.each do |k, count| %>
        <li <%= raw('class="last"') if k == @guide.species_kingdoms.keys.first %>><a href="javascript:void goTo('<%= k %>')"><span><%= k %> (<%= count %>)</span></a></li>
        <% end -%>
      </ul>
    </div>
    <% end -%>
  </div>
  
  <% @guide.species_kingdoms.each do |k, count| %>
  <div class="family" id="<%= k %>">
    <h3><%= count %> <%= k.upcase %></h3>
    <ul>
      <% @guide.species.select{|s| s.kingdom == k }.each do |species| %>
      <li id="li_species_<%=species.id%>" class="<%= cycle('','','last_item') %>">
        <div class="image">
          <img src="<%= species.picture ? species.picture.image.url(:small) : species.default_picture(:small) %>" alt="<%= species.full_name %>" />
        </div>
        <div class="info">
		  
 			<%if !@current_guide.include_species?(species)%>
				<%= link_to('', create_entry_path(:type => 'Species', :id => species.id), :method => :post, :class => 'add ajax') %>
			<%else%>
				<a class="add added ajax"></a>
			<%end%>
		
          <h4><a href="<%= species_path(species) %>"><%= species.name %></a></h4>
          <% if species.common_name? %>
          <p class="common_name"><%= species.common_name %></p>
          <% end -%>
        </div>
      </li>
      <% end -%>
    </ul>
  </div>
  <% end %>  
</div>

<div id="your_guide">  
  <%= render 'guides/your_guide' %>
</div>