<% @species.each do |species| %>
<div class="long top_species"> 
  <ul class="breadcrumb"> 
    <li class="first"><%= species.family %></li> 
  </ul> 
  <div class="left"> 
    <h2><%= species.full_name %></h2> 
    <label>Description</label> 
    <%= simple_format(species.description) %>

    <% unless @current_guide.species.include?(species) %>
      <%= link_to('Add your guide', entries_path(:type => 'Species', :id => species), :method => :post, :class => 'add_guide') %>
    <% end %>
    <% if species.guides_count > 0 %>
    <p class="times_added"><%= pluralize(species.guides_count, 'time', 'times') %> added</p> 
    <% end -%>
  </div> 
  <div class="right"> 
    <div class="share_this"> 
      <p class="share">share this on</p><a class="share_twitter" href="#"></a><a class="share_facebook" href="#"></a> 
    </div>
    <% if species.picture %>
    <div class="img_specie">
      <img src="<%= species.picture.public_filename %>"/>
    </div> 
    <% end -%>    
  </div><!-- .right -->
</div> <!-- .long top_species -->
  
<div class="long border"> 
  <div class="left species"> 
    <h3>Species information</h3> 
    <p class="subtitle">More information that maybe could be useful for you</p> 
    <% unless species.size.blank? %>
      <label>Size</label> 
      <p><%= species.size %></p> 
    <% end %>
    <% unless species.reference.blank? %>
      <label>Reference</label> 
      <p><%= species.reference %></p>
    <% end %>
  </div> 
  <% unless species.pictures.empty? %>
  <div class="right species"> 
    <img class="arrow" src="images/species/gray_arrow.png" alt="" /> 
    <h3>Photos & Videos</h3> 
    <ul>
      <% species.pictures.each do |picture| %>
      <li><img src="<%= picture.public_filename %>" alt="<%= "#{species.full_name} - #{picture.title} - #{picture.photographer}" %>" /></li> 
      <% end -%>
    </ul> 
  </div>
  <% else %>
  <div class="right species">
    No photos, no fun
  </div>
  <% end -%>
</div> <!-- .long border -->

<div class="long species"> 
  <div class="left species"> 
    <h3>Species distribution</h3> 
    <% unless species.distribution.blank? %>
      <label>Distribution info</label> 
      <p><%= species.distribution %></p>
    <% end %>
    <% unless species.ecology.blank? %>
      <label>Ecology</label> 
      <%= simple_format(species.ecology) %>
    <% end %>
  </div> 
  <div class="right species"> 
    <img class="arrow" src="images/species/gray_arrow.png" alt="" /> 
    <h3>Distribution map</h3> 
    <div class="map"> 
      <div id="map"></div> 
      <span class="shadow"></span> 
    </div> 
    <label class="right">Depth of the distribution</label> 
    <p><%= species.depth %></p> 
  </div> 
</div><!-- .long species -->

<hr style="height:1px; page-break-after:always">
<% end -%>