<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <base href="http://localhost:3000/" />
  <%= stylesheet_link_tag :all %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js" type="text/javascript" charset="utf-8"></script> 
  <%= javascript_include_tag 'jquery.nivo.slider', 'jquery.ui', 'jquery.ui.widget', 'jquery.ui.mouse', 'jquery.ui.sortable', 'rails', 'application' %>
  <%= csrf_meta_tag %>
  <style>
  .message{
    margin: 30px 0px;
    overflow: hidden;
  }
  .error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
  .error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
  .notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
  .success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
  .error a {color:#8a1f11;}
  .notice a {color:#514721;}
  .success a {color:#264409;}
  </style>
</head>
<body>

  <div class="outer_layout"> 
    <div class="header"> 
      <div class="logo"> 
        <a href="/"></a> 
        <span class="search"> 
          <form method="get" action="<%= admin_species_index_path %>"> 
            <input id="search_term" type="text" name="q" />
            <input type="submit" value="" /> 
          </form> 
        </span> 
      </div> 
    </div> <!-- .header -->
  </div><!-- .outer_layout -->
  
  <div class="outer_layout"> 
    <div class="long border"> 
      
      <ul class="families">
        <li><%= link_to_unless(controller_name == 'species', 'Species', admin_species_index_path) %></li>
        <li><%= link_to_unless(controller_name == 'landscapes', 'Landscapes', admin_landscapes_path) %></li>
      </ul>
      
      <div class="message">
        <%= flush_the_flash %>
      </div>
    
      <%= yield %>
    
      <div class="footer"> 
        <div class="in"> 
          <div class="logo"> 
            <a href="/" class="logo"></a> 
          </div> 
          <p>Project implemented by the <a href="#">Belgian Biodiversity platform</a> - <a href="#">Contact</a></p> 
        </div> 
      </div><!-- .footer -->
      
    </div>
    
  </div><!-- .outer_layout -->
  
</body>
</html>