<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js" type="text/javascript" charset="utf-8"></script>
  <%= javascript_include_tag 'jquery-ui','rails', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div class="outer_layout">
    <div class="header">
      <div class="logo">
        <h1><a href="/">Antarctic Field Guides</a></h1>
      </div>
      <div class="search">
        <form method="get" action="<%= url_for(:action => 'index', :controller => (params[:controller] == 'admin/pictures' ? 'admin/species' : params[:controller])) %>">
          <input type="text" name="q" size="50" />
          <input type="submit" value="Search" />
        </form>
      </span>
    </div> <!-- .header -->
  </div><!-- .outer_layout -->

  <div class="outer_layout">

    <ul class="families">
      <li <%=raw "class=\"#{(controller_name == 'species' ? 'selected' : '')}\"" %>><%= link_to_unless(controller_name == 'species', 'Species', admin_species_index_path) %></li>
      <li <%=raw "class=\"#{(controller_name == 'landscapes' ? 'selected' : '')}\"" %>><%= link_to_unless(controller_name == 'landscapes', 'Places', admin_landscapes_path) %></li>
      <li <%=raw "class=\"#{(controller_name == 'guides' ? 'selected' : '')}\"" %>><%= link_to_unless(controller_name == 'guides', 'Guides', admin_guides_path) %></li>
    </ul>

    <div class="message">
      <%= flush_the_flash %>
    </div>

    <div class="content">

      <%= yield %>

    </div>

  </div><!-- .outer_layout -->

</body>
</html>