<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!-- <base href="http://localhost:3000/" /> -->
  <%= stylesheet_link_tag 'layout' %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js" type="text/javascript" charset="utf-8"></script> 
  <%= javascript_include_tag 'jquery.nivo.slider', 'jquery.ui', 'jquery.ui.widget', 'jquery.ui.mouse', 'jquery.ui.sortable', 'jquery.example.min', 'rails', 'application' %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>

  <div class="outer_layout"> 
    <div class="header"> 
      <div class="logo"> 
        <a href="/"></a> 
        <span class="search"> 
          <form method="get" action="<%= search_url %>"> 
            <input id="search_term" type="text" name="q" /> 
            <input type="submit" value="" /> 
          </form> 
        </span> 
      </div> 
      <div class="header_menu"> 
        <ul> 
          <li class="first"><%= link_to('HOME', '/', :class => (current_page?('/') ? 'current' : nil)) %></li>
          <li><%= link_to('LANDSCAPES', landscapes_path, :class => (controller_name == 'landscapes' ? 'current' : nil)) %></li>
          <li><%= link_to('SPECIES', species_index_path, :class => (controller_name == 'species' ? 'current' : nil)) %></li>
          <li><%= link_to('GUIDES', guides_path, :class => (controller_name == 'guides' ? 'current' : nil)) %></li>
          <li><%= link_to('ABOUT', about_path, :class => (current_page?(about_path) ? 'current' : nil)) %></li>
        </ul> 
      </div> 
    </div>
  </div>

  <div class="outer_layout"> 
    
    <%= yield %>
    
    <div class="footer"> 
      <div class="in"> 
        <div class="logo"> 
          <a href="/" class="logo"></a> 
          <span class="menu"> 
            <ul> 
              <li><%= link_to('Species', species_index_path) %></li>
              <li><%= link_to('Guides', guides_path) %></li>
              <li><%= link_to('Landscapes', landscapes_path, :class => 'last') %></li>
            </ul> 
          </span> 
        </div> 
        <p>Project implemented by the <a href="http://www.biodiversity.be/">Belgian Biodiversity platform</a> - <a href="http://www.biodiversity.be/454">Contact</a></p> 
      </div> 
    </div>
  </div>
</body>
</html>