<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!-- <base href="http://localhost:3000/" /> -->
  <%= stylesheet_link_tag 'layout' %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js" type="text/javascript" charset="utf-8"></script> 
  <%= javascript_include_tag 'jquery.simplemodal-1.3.5', 'jquery.nivo.slider', 'jquery.example.min', 'jquery.textshadow.js', 'jquery.scrollTo-1.4.2-min' ,'rails', 'application' %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>
	
	
	<div id="publish_container">
		<div class="top">
			<div class="bottom">
				<div class="repeat">
					<h4>Download your Anctartic Field Guide</h4>
					<ul>
						<li class="active"><span>1.SELECT YOUR FORMAT</span></li>
						<li><span>2.PUBLISH IT (IF YOU WANT)</span></li>
						<li><span>3.FINISH AND DOWNLOAD</span></li>
					</ul>
					<div class="choice">
						<div class="alternative">
							<div class="type list">
								<a href="#"></a>
								<p>3 PAGES</p>
							</div>
							<div class="info">
								<a href="javascript:void firstStep('simple')">Checklist</a>
								<p>Provides the species names in a list format</p>
							</div>
						</div>
						<div class="alternative last">
							<div class="type complete">
								<img src="" title="" alt=""/>
								<a href="#"></a>
								<p>3 PAGES</p>
							</div>
							<div class="info">
								<a href="javascript:void firstStep('complete')">Complete</a>
								<p>Provides all available information for your species</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
<!-- <div id="publish_container">
		<div class="top">
			<div class="bottom">
				<div class="repeat">
					<h4>Download your Anctartic Field Guide</h4>
					<ul>
						<li class="active"><span>1.SELECT YOUR FORMAT</span></li>
						<li><span>2.PUBLISH IT (IF YOU WANT)</span></li>
						<li><span>3.FINISH AND DOWNLOAD</span></li>
					</ul>
					<div class="choice">
						<a href="#" class="checkbox disabled">I don’t want to publish my Field Guide</a>
						<div class="blue_area">
							<a href="#" class="checkbox actived">I want to publish my Antarctic Field Guide</a>
							<div class="fill">
								<p clas="subtitle">The AFG will have a dedicated page like that, and it will be downloable by other users</p>
								<span>
									<label>YOUR NAME</label>
								</span>
								<input type="text" />
								<span>
									<label>GUIDE TITLE</label>
								</span>
								<input type="text" />
								<span>
									<label>DESCRIPTION</label>
									<p>231 CHARACTERS LEFT</p>
								</span>
								<textarea></textarea>
							</div>
						</div>
						<a href="javascript:void secondStep('complete')" class="download">Procced to download</a>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	
	
	<!-- 	
	<div id="publish_container">
		<div class="top">
			<div class="bottom">
				<div class="repeat">
					<h4>Download your Anctartic Field Guide</h4>
					<ul>
						<li><span>1.SELECT YOUR FORMAT</span></li>
						<li><span>2.PUBLISH IT (IF YOU WANT)</span></li>
						<li class="active"><span>3.FINISH AND DOWNLOAD</span></li>
					</ul>
					<div class="choice">
						<div class="long">
							<div class="type loading">
								<img class="loading" src="../images/modal/ajax-loader.gif" />
							</div>
							<div class="info">
								<h5>Your Anctartic Field Guide is ready to download</h5>
								<p>Please, be patient, this will take less than five minutes.</p>
								<a class="disabled" href="#">Download</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div id="publish_container">
		<div class="top">
			<div class="bottom">
				<div class="repeat">
					<h4>Download your Anctartic Field Guide</h4>
					<ul>
						<li><span>1.SELECT YOUR FORMAT</span></li>
						<li><span>2.PUBLISH IT (IF YOU WANT)</span></li>
						<li class="active"><span>3.FINISH AND DOWNLOAD</span></li>
					</ul>
					<div class="choice">
						<div class="long">
							<div class="type finished">
								<img class="image" src="" />
								<img class="ok" src="../images/modal/ok.png" />
							</div>
							<div class="info">
								<h5>Your Anctartic Field Guide is ready to download</h5>
								<p>If your download doesn’t start in five seconds, click the download button</p>
								<a href="#">Download</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	 -->	
	
	

  <div class="outer_layout"> 
    <div class="header"> 
      <div class="logo"> 
        <a href="/"></a> 
        <span class="search"> 
          <form method="get" action="<%= search_path %>"> 
            <input id="search_term" type="text" name="q" /> 
            <input type="submit" value="" /> 
          </form> 
        </span> 
      </div> 
      <div class="header_menu"> 
        <ul> 
          <li class="first"><%= link_to('HOME', '/', :class => (current_page?('/') ? 'current' : nil)) %></li>
          <li><%= link_to('LANDSCAPES', landscapes_path, :class => (controller_name == 'landscapes' ? 'current' : nil)) %></li>
          <li><%= link_to('SPECIES', species_index_path, :class => (controller_name == 'species' ? 'current' : nil)) %></li>
          <li><%= link_to('GUIDES', guides_path, :class => (controller_name == 'guides' ? 'current' : nil)) %></li>
          <li><%= link_to('ABOUT', about_path, :class => (current_page?(about_path) ? 'current' : nil)) %></li>
        </ul> 
      </div> 
    </div>
  </div>

  <div class="outer_layout"> 
    
    <div id="pop_up"><%= pop_up_flash %>	</div>
    
    <%= yield %>
    
    <div class="footer"> 
      <div class="in"> 
        <div class="logo"> 
          <a href="/" class="logo"></a> 
          <span class="menu"> 
            <ul> 
              <li><%= link_to('Home', root_path) %></li>
              <li><%= link_to('Species', species_index_path) %></li>
              <li><%= link_to('Landscapes', landscapes_path) %></li>
              <li><%= link_to('Guides', guides_path) %></li>
              <li class="last"><%= link_to('About', about_path) %></li>
						</ul> 
          </span> 
        </div> 
        <p>Project implemented by the <a href="http://www.biodiversity.be/">Belgian Biodiversity platform</a> - <a href="http://www.biodiversity.be/454">Contact</a></p> 
      </div> 
    </div>
  </div>
</body>
</html>