<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= raw stylesheet_link_merged :base %>
  <%= raw javascript_include_merged :base %>
  <%= yield :post_js %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>
	
	<div id="publish_container">
		<div class="top">
			<div class="bottom">
				<div class="repeat">
					<h4>Download your Antarctic Field Guide</h4>
					<ul>
						<li class="active"><span>1.SELECT YOUR FORMAT</span></li>
						<li><span>2.PUBLISH IT (IF YOU WANT)</span></li>
						<li><span>3.FINISH AND DOWNLOAD</span></li>
					</ul>
					<div class="choice">
						<div class="alternative">
							<div class="type list">
								<a href="#"></a>
								<p><%= @current_guide.pages_count(:checklist) %> PAGES</p>
							</div>
							<div class="info">
								<a href="javascript:void firstStep('simple')">Checklist</a>
								<p>Provides the species names in a list format</p>
							</div>
						</div>
						<div class="alternative last">
							<div class="type complete">
								<img src="<%= @current_guide.picture? ? @current_guide.picture.image.url(:small) : '' %>" title="" alt=""/>
								<a href="#"></a>
								<p><%= @current_guide.pages_count(:complete) %> PAGES</p>
							</div>
							<div class="info">
								<a href="javascript:void firstStep('complete')">Complete</a>
								<p>Provides all available information for your species</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

  <div class="outer_layout"> 
    <div class="header"> 
      <div class="logo"> 
        <a href="/"></a> 
        <span class="search"> 
          <form method="get" action="<%= search_path %>"> 
            <input id="search_term" type="text" name="q" /> 
            <input type="submit" value="" /> 
          </form> 
        </span> 
      </div> 
      <div class="header_menu"> 
        <ul> 
          <li class="first"><%= link_to('HOME', '/', :class => (current_page?('/') ? 'current' : nil)) %></li>
          <li><%= link_to('LANDSCAPES', landscapes_path, :class => (controller_name == 'landscapes' ? 'current' : nil)) %></li>
          <li><%= link_to('SPECIES', species_index_path, :class => (controller_name == 'species' ? 'current' : nil)) %></li>
          <li><%= link_to('GUIDES', guides_path, :class => (controller_name == 'guides' ? 'current' : nil)) %></li>
          <li><%= link_to('ABOUT', about_path, :class => (current_page?(about_path) ? 'current' : nil)) %></li>
        </ul> 
      </div> 
    </div>
  </div>

  <div class="outer_layout"> 
    
    <div id="pop_up"><%= pop_up_flash %>	</div>
    
    <%= yield %>
    
    <div class="footer"> 
      <div class="in"> 
        <div class="logo"> 
          <a href="/" class="logo"></a> 
          <span class="menu"> 
            <ul> 
              <li><%= link_to('Home', root_path) %></li>
              <li><%= link_to('Species', species_index_path) %></li>
              <li><%= link_to('Landscapes', landscapes_path) %></li>
              <li><%= link_to('Guides', guides_path) %></li>
              <li class="last"><%= link_to('About', about_path) %></li>
						</ul> 
          </span> 
        </div> 
        <p>Project implemented by <a href="http://www.scarmarbin.be/" target="_blank">SCAR-MarBIN</a> and <strong>ANTABIF</strong> - <a href="http://www.biodiversity.be/454" target="_blank">Contact</a></p> 
      </div> 
    </div>
  </div>


<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18319624-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>