<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <base href="http://localhost:3000/" />
  <%= stylesheet_link_tag :all %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js" type="text/javascript" charset="utf-8"></script> 
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div class="outer_layout"> 
    <div class="header"> 
      <div class="logo"> 
        <a href="/"></a> 
        <span class="search"> 
          <form> 
            <input type="text" value="Search species, guides, ..." /> 
            <input type="submit" value="" /> 
          </form> 
        </span> 
      </div> 
      <div class="header_menu"> 
        <ul> 
          <li class="first"> 

            <a class="current" href="/">HOME</a></li> 
            <li> 
              <a href="explore.php">EXPLORE</a> 
            </li> 
            <li> 
              <a href="<%= guides_path %>">GUIDES</a> 
            </li> 
            <li><a href="<%= about_path %>">ABOUT</a></li> 
          </ul> 
        </div> 
      </div> 
    </div><!-- .header -->

    <div class="outer_layout"> 
      
      <%= yield %>
      
      <div class="footer"> 
        <div class="in"> 
          <div class="logo"> 
            <a href="/" class="logo"></a> 
            <span class="menu"> 
              <ul> 
                <li><a href="explore.php">Explore</a></li> 
                <li><a href="species.php">Species</a></li> 
                <li><a href="<%= guides_path %>">Guides</a></li> 
                <li class="last"><a href="landscape.php">Landscapes</a></li> 
              </ul> 
            </span> 
          </div> 
          <p>Project implemented by the <a href="#">Belgian Biodiversity platform</a> - <a href="#">Contact</a></p> 
        </div> 
      </div> 
    </div>
  </div>
  
</body>
</html>